.std-btn {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.completed-btn {
  border-radius: 26px;
}

.std-btn {

   background-color: $blue;
   border-radius: 18px;
   color: white;
   line-height: 1;
   padding: 0.5rem 1rem;
   font-weight: 400;

   &:hover {
      background-color: #dedede;
      color: $blue;
      transition: all 0.3s ease;
   }
}
