form {

}

input[type="submit"] {
  @extend .std-btn;
}

.confirm-form {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

textarea {
  resize: vertical;
}

input {
  margin: 14px auto;
  border-radius: 4px;
  padding: 0.5rem 0rem;
  color: $light-gray;
  background-color: rgba(0,0,0,0.2)

}

.form-name {
  label {
    text-transform: uppercase;
    color: $main-gray;
    font-size: 1.0rem;
    letter-spacing: 1px;

  }
  input {
    border: none;
    width: 100%;
  }
}

.form-dob, .form-sport {
  @extend .form-name;
  label {
    text-align: left;
  }
  input {
    text-align: left;
  }
}

.form-name {
  margin-right: 12px
}
