.comp-app-wrp {
   position: relative;
   top: 0px;
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.2);
   box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

.comp-main-cont {
   position: relative;
   height: 100%;
   overflow: scroll;
}

.main_header {
   height: 50px;
   background-color: #D6DFE7;
}

.download-comp, .upload-comp {
   width: 100%;
   text-align: center;
   padding: 3rem;

}

.btn-a {
   color: white;
}

.header {
   text-align: center;
   padding-top: 50px;
   h1 {
     margin: 0;
     margin-top: 12px;

   }
   h2 {
     color: #dedede;
     font-size: 16px;
     font-weight: 300;
   }

}

.title {

   h1 {
      color: white;
      margin: 0;
      margin-top: 12px;
   }

   hr {
     width: 60%;
     margin: 0 auto;
     border: 1px solid #dedede;
   }
}

.step-cont {
  display: inline-block;
  margin: 12px 0px;
}
