.main-content {
    position: absolute;
    left: 250px;
    right: 0px;
}
#main-content {
    position: absolute;
    left: 250px;
    right: 0px;
    padding-top: 40px;
    @include outer-container;
}
.profile {
   @include span-columns(8);
}