.task-content, .main-container {
   @include span-columns(9);
   height: 100%;
   overflow: scroll;
   .title {
      text-align: center; 
      width: 100%;
      margin-left: -5%;
      padding-left: 5%;
      margin-bottom: 2rem;
      h1 {
         padding: 1rem;
      }
   }

}