.task-content, .main-container {
   overflow: scroll;
   position: absolute;
   height: calc(100% - 100px);
   width: 100%;
   margin-bottom: 100px;
   .title {
      text-align: center;
      width: 100%;
      margin-left: -5%;
      padding-left: 5%;
      margin-bottom: 2rem;
      padding-top: 1rem;
      h1 {
         padding: 1rem;
      }
   }
   .task-text {
   }

}

.profile-header {
  text-align: center;
}

.profile-title {
  margin-top: 1rem;
}

.profile-view-wrapper {
}

.profile-left {
  text-align: center;
  margin-top: 25px;
}

.profile-right {
}

.profile-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.task-text {

  width: 70%;
  margin-left: 10%;
  text-align: left;

  h1, h2, h3, p {
    margin: 0;
  }
  .step-number {
   font-size: 2em;
   font-weight: 300;
   float: left;

  }
  .step-para {

  }
  .step-cont {

  }

}
   .task-welcome {
    width: 80%;

}
